<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>


		<!-- Start Landing Section-->
		 <!-- <div class="welcome">
        <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t1.6435-9/78910886_159704808745029_5203199492936957952_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=e3f864&_nc_ohc=RgLQ6f30Xh0AX-pV31T&_nc_ht=scontent.ftun9-1.fna&oh=b8c54380a414608597e4feae194ab854&oe=60D94D24"
        class="img-fluid" alt="Responsive image">
        <div class="d-flex flex-column align-items-center landing">
        	<button type="button" class="btn btn-outline-light btn-lg btn-huge" routerLink="/galerie">Galerie</button>
        </div>
    </div>  -->
		<!-- End Landing Section-->
    <div class="card text-white">
      <!-- <img
        src="https://res.cloudinary.com/douscs2ve/image/upload/v1631576099/cvblank_y6chmk.png"
        class="card-img"
        alt="..."
      />
      <img
        src="https://res.cloudinary.com/douscs2ve/image/upload/v1631575970/cv7_hrorp3.png"
        class="coverone card-img-overlay"
        alt="..."
      />
      <img
        src="https://res.cloudinary.com/douscs2ve/image/upload/v1631575257/cv2_ofrylk.png"
        class="covertwo card-img-overlay"
        alt="..."
      />
      <img
        src="https://res.cloudinary.com/douscs2ve/image/upload/v1631575258/cv3_hzt4sd.png"
        class="coverthree card-img-overlay"
        alt="..."
      /> -->
      <img
        src="https://res.cloudinary.com/douscs2ve/image/upload/v1655085433/coverr_tx1phk.jpg"
        class="card-img"
        alt="..."
      />
      <div class="card-img-overlay d-flex flex-column justify-content-center">
        <div class="d-flex flex-column align-items-center">
        	<button type="button" class="btn btn-outline-dark btn-lg btn-huge" routerLink="/galerie">Gallery</button>
        </div>
      </div>
    </div>
    <!-- <mat-carousel>
      <mat-carousel-slide>
        <img src="http://localhost:3000/chucky/cover.png" class="img-fluid" alt="Responsive image">
      </mat-carousel-slide>
      <mat-carousel-slide>
        <img src="http://localhost:3000/chucky/cover.png" class="img-fluid" alt="Responsive image">
      </mat-carousel-slide>
    </mat-carousel> -->
	<!-- Start About Section -->
		<!-- A three Columns Example -->


    <!-- End About section -->
    
  <div class="border-top border-dark my-5 w-25 mx-auto"></div>
  <h1 style="font-size: 35px;" class="text-center font-weight-normal mt-5 mb-5">Top albums</h1>
  <app-artwork [artworks]="topartworks"></app-artwork>
  <div class="d-flex justify-content-center"><button routerLink="/galerie" type="button" class="btn btn-outline-dark btn-sm">See all</button></div>

  <!-- <div class="border-top border-dark my-5 w-25 mx-auto"></div>
  <h1 style="font-size: 35px;" class="text-center font-weight-normal mt-5 mb-5">Top albums</h1>
  <app-artwork [artworks]="topartworks"></app-artwork>
  <div class="d-flex justify-content-center"><button routerLink="/galerie" type="button" class="btn btn-outline-dark btn-sm">See all</button></div>

  <div class="border-top border-dark my-5 w-25 mx-auto"></div>
  <div class="d-flex justify-content-center">
  <img src="https://res.cloudinary.com/douscs2ve/image/upload/v1621550671/tunflix_k9lqvy.png" class="img-fluid w-25 mt-4 mb-5" style="max-width: 150px; height: 100%;" alt="tunflix">
  </div>
  <app-artwork [artworks]="tunflixartworks"></app-artwork>
  <div class="d-flex justify-content-center"><button routerLink="/galerie" type="button" class="btn btn-outline-dark btn-sm">See all</button></div>
   -->

  <div class="container">
    <hr class="my-5">
    <h1 style="font-size: 35px;" class="text-center font-weight-normal mt-5 mb-5">Trending</h1>
    <div class="d-flex flex-row align-items-center mt-3">
    <img routerLink="/artworkdetail/100" class="card-img-top img-fluid w-25" style="max-width: 200;" src="https://res.cloudinary.com/douscs2ve/image/upload/v1654987611/3_b4z0sm.jpg" alt="Card image cap">
    <div class="ml-5">
      <p class="h2" style="color: rgb(13, 62, 134); font-size:2vw;">Cookies</p>
    <p class="font-weight-normal h4" style="color: rgb(12, 36, 71); font-size:2vw;">What if big companies started baking and selling cookies instead of asking you everytime to "Accept cookies".</p>
    <p class="font-weight-normal h4" style="color: rgb(12, 36, 71); font-size:2vw;">As a designer and IT engineer, I though about it seriously and created the packages that anyone could pay money to buy from the stores. The results were absolutely hilarious!</p>
  </div>
    </div>
  </div>
	
  <!-- Start Contact Section-->
  <div class="col-md-12 text-center">
         <div class="border-top border-dark my-5 w-25 mx-auto"></div>
         <h1 style="font-size: 35px;" class="text-center font-weight-normal mt-5 mb-5">About me</h1>
         <p class="h5">Chucky is a Tunisian digital artist, web developer and design freelancer.</p>
         <button type="button" class="btn btn-lg btn-outline-dark mb-5 mt-5" routerLink="/contact">Contact me</button>
  </div>
	<!-- End Contact Section-->

	

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6135a54b0e.js" crossorigin="anonymous"></script>
</body>
</html>
