@keyframes learn {
  from {opacity: 0;}
  to {opacity: 1;}
 }

.btn-huge{
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 30px;
    padding-right: 30px;
}
.card-img-top {
    transition: all 0.5s ease;
    -webkit-filter: opacity(1); 
    filter: opacity(1);
    opacity: 1;
  }
  
  .card-img-top:hover {
    transition: all 0.5s ease;
    -webkit-filter: opacity(0.75); 
    filter: opacity(0.75);
  }
.coverone {
animation-name: learn;
 animation-duration: 4s;
}
.covertwo {
  animation-name: learn;
   animation-duration: 6s;
  }
  .coverthree {
    animation-name: learn;
     animation-duration: 8s;
    }
    .coverfour {
      animation-name: learn;
       animation-duration: 10s;
      }